name: Insights-All
on:
  schedule:
    - cron: "0 21 * * 1-5"
  workflow_dispatch:
jobs:
  price-aggregation:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        symbolsFile:
          [
            100.csv,
            200.csv,
            300.csv,
            400.csv,
            500.csv,
            600.csv,
            700.csv,
            800.csv,
            900.csv,
            1000.csv,
            1100.csv,
            1200.csv,
            1300.csv,
            1400.csv,
            1500.csv,
            1600.csv,
            1700.csv,
            1800.csv,
            1900.csv,
            2000.csv,
            2100.csv,
            2200.csv,
            2300.csv,
            2400.csv,
            2500.csv,
            2600.csv,
            2700.csv,
            2800.csv,
            2900.csv,
            3000.csv,
            3100.csv,
            3200.csv,
            3300.csv,
            3400.csv,
            3500.csv,
            3600.csv,
            3700.csv,
            3800.csv,
            3900.csv,
            4000.csv,
          ]
    steps:
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: "3.7.7"
      - name: download talib
        run: |
          wget http://prdownloads.sourceforge.net/ta-lib/ta-lib-0.4.0-src.tar.gz
          /usr/bin/tar -xvzf ./ta-lib-0.4.0-src.tar.gz
          cd ta-lib/
          ./configure --prefix=/usr
          make
          sudo make install
      - name: checkout repo
        uses: actions/checkout@v2
        with:
          repository: investivision/insight-service
          token: ${{ secrets.PAT }}
          ref: "dynamo"
      - name: install dependencies
        run: python -m pip install -r requirements_separate.txt
      - name: run script
        run: python separate.py ${{ matrix.symbolsFile }}
  insight-generation:
    needs: price-aggregation
    runs-on: ubuntu-latest
    steps:
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: "3.7.7"
      - name: checkout repo
        uses: actions/checkout@v2
        with:
          repository: investivision/insight-service
          token: ${{ secrets.PAT }}
          ref: "dynamo"
      - name: install dependencies
        run: python -m pip install -r requirements.txt
      - name: generate insights
        run: python main.py
