name: Dividend Processing
on:
  workflow_dispatch:
jobs:
  symbol-collection:
    runs-on: ubuntu-latest
    steps:
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: "3.7.7"
      - name: checkout repo
        uses: actions/checkout@v2
        with:
          repository: investivision/insight-service
          token: ${{ secrets.PAT }}
          ref: "refactor"
      - name: install dependencies
        working-directory: dividends/collection
        run: python -m pip install -r requirements.txt
      - name: Download
        working-directory: dividends/collection
        run: python main.py
      - name: Delete existing artifact
        uses: geekyeggo/delete-artifact@v2
        with:
          name: dividend-collection
          failOnError: false
      - name: Upload collection txt artifacts
        uses: actions/upload-artifact@v3
        with:
          name: dividend-collection
          path: dividends/collection/symbols
      - name: Delete existing divident artifact
        uses: geekyeggo/delete-artifact@v2
        with:
          name: dividends
          failOnError: false
  dividend-aggregation:
    runs-on: ubuntu-latest
    needs: symbol-collection
    strategy:
      matrix:
        symbolsFile:
          [
            100.txt,
            200.txt,
            300.txt,
            400.txt,
            500.txt,
            600.txt,
            700.txt,
            800.txt,
            900.txt,
            1000.txt,
            1100.txt,
            1200.txt,
            1300.txt,
            1400.txt,
            1500.txt,
            1600.txt,
            1700.txt,
            1800.txt,
            1900.txt,
            2000.txt,
            2100.txt,
            2200.txt,
            2300.txt,
            2400.txt,
            2500.txt,
            2600.txt,
            2700.txt,
            2800.txt,
            2900.txt,
            3000.txt,
            3100.txt,
            3200.txt,
            3300.txt,
            3400.txt,
            3500.txt,
            3600.txt,
            3700.txt,
            3800.txt,
            3900.txt,
            4000.txt,
            4100.txt,
            4200.txt,
            4300.txt,
            4400.txt,
            4500.txt,
            4600.txt,
            4700.txt,
            4800.txt,
            4900.txt,
            5000.txt,
            5100.txt,
            5200.txt,
            5300.txt,
            5400.txt,
            5500.txt,
            5600.txt,
            5700.txt,
            5800.txt,
            5900.txt,
            6000.txt,
            6100.txt,
            6200.txt,
            6300.txt,
            6400.txt,
            6500.txt,
            6600.txt,
            6700.txt,
            6800.txt,
            6900.txt,
            7000.txt,
            7100.txt,
            7200.txt,
            7300.txt,
            7400.txt,
            7500.txt,
            7600.txt,
            7700.txt,
            7800.txt,
            7900.txt,
            8000.txt,
            8100.txt,
            8200.txt,
            8300.txt,
            8400.txt,
            8500.txt,
            8600.txt,
            8700.txt,
            8800.txt,
            8900.txt,
            9000.txt,
            9100.txt,
            9200.txt,
            9300.txt,
            9400.txt,
            9500.txt,
            9600.txt,
            9700.txt,
            9800.txt,
            9900.txt,
            10000.txt,
            10100.txt,
            10200.txt,
            10300.txt,
            10400.txt,
            10500.txt,
            10600.txt,
            10700.txt,
            10800.txt,
            10900.txt,
            11000.txt,
            11100.txt,
            11200.txt,
            11300.txt,
            11400.txt,
            11500.txt,
            11600.txt,
            11700.txt,
            11800.txt,
            11900.txt,
            12000.txt,
            12100.txt,
            12200.txt,
            12300.txt,
            12400.txt,
            12500.txt,
            12600.txt,
            12700.txt,
            12800.txt,
            12900.txt,
            13000.txt,
            13100.txt,
            13200.txt,
            13300.txt,
            13400.txt,
            13500.txt,
            13600.txt,
            13700.txt,
            13800.txt,
            13900.txt,
            14000.txt,
            14100.txt,
            14200.txt,
            14300.txt,
            14400.txt,
            14500.txt,
            14600.txt,
            14700.txt,
            14800.txt,
            14900.txt,
            15000.txt,
            15100.txt,
            15200.txt,
            15300.txt,
            15400.txt,
            15500.txt,
            15600.txt,
            15700.txt,
            15800.txt,
            15900.txt,
            16000.txt,
            16100.txt,
            16200.txt,
            16300.txt,
            16400.txt,
            16500.txt,
            16600.txt,
            16700.txt,
            16800.txt,
            16900.txt,
            17000.txt,
            17100.txt,
            17200.txt,
            17300.txt,
            17400.txt,
            17500.txt,
            17600.txt,
            17700.txt,
            17800.txt,
            17900.txt,
            18000.txt,
            18100.txt,
            18200.txt,
            18300.txt,
            18400.txt,
            18500.txt,
            18600.txt,
            18700.txt,
            18800.txt,
            18900.txt,
            19000.txt,
            19100.txt,
            19200.txt,
            19300.txt,
            19400.txt,
            19500.txt,
            19600.txt,
            19700.txt,
            19800.txt,
            19900.txt,
            20000.txt,
          ]
    steps:
      - name: checkout repo
        uses: actions/checkout@v2
        with:
          repository: investivision/insight-service
          token: ${{ secrets.PAT }}
          ref: "refactor"
      - name: Download collections artifact
        uses: actions/download-artifact@v3
        with:
          name: dividend-collection
          path: dividends/collection/symbols
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: "3.7.7"
      - name: install dependencies
        working-directory: dividends/separate
        run: python -m pip install -r requirements.txt
      - name: run script
        working-directory: dividends/separate
        run: python main.py ${{ matrix.symbolsFile }}
      - name: Upload dividend artifacts
        uses: actions/upload-artifact@v3
        with:
          name: dividends
          path: dividends/separate/data

  dividends-together:
    needs: dividend-aggregation
    runs-on: ubuntu-latest
    steps:
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: "3.7.7"
      - name: checkout repo
        uses: actions/checkout@v2
        with:
          repository: investivision/insight-service
          token: ${{ secrets.PAT }}
          ref: "refactor"
      - name: Download dividend artifacts
        uses: actions/download-artifact@v3
        with:
          name: dividends
          path: dividends/separate/data
      - name: install dependencies
        working-directory: dividends/together
        run: python -m pip install -r requirements.txt
      - name: combine dividends
        working-directory: dividends/together
        run: python main.py
      - name: Archive individual insights
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dividends/together/data
          keep_files: true
          publish_branch: dividends
          commit_message: update
