name: Stock Analysis
on:
  schedule:
    - cron: "0 21 * * 1-5"
  workflow_dispatch:
jobs:
  symbol-collection:
    runs-on: ubuntu-latest
    steps:
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: "3.7.7"
      - name: checkout repo
        uses: actions/checkout@v2
        with:
          repository: investivision/insight-service
          token: ${{ secrets.PAT }}
          ref: "refactor"
      - name: install dependencies
        working-directory: collection
        run: python -m pip install -r requirements.txt
      - name: Download
        working-directory: collection/stocks
        run: python nasdaq_stocks.py
      - name: tree
        working-directory: collection
        run: tree .
      - name: Split symbols
        working-directory: collection
        run: python split_csv.py stocks/stocks.csv stocks/data
      - name: tree
        working-directory: collection
        run: tree .
      - name: Delete existing artifact
        uses: geekyeggo/delete-artifact@v2
        with:
          name: stock-collection
          failOnError: false
      - name: Upload collection csv artifacts
        uses: actions/upload-artifact@v3
        with:
          name: stock-collection
          path: collection/stocks/data
  price-aggregation:
    runs-on: ubuntu-latest
    needs: symbol-collection
    strategy:
      matrix:
        symbolsFile: [100.csv, 200.csv, 300.csv, 400.csv]
    steps:
      - name: checkout repo
        uses: actions/checkout@v2
        with:
          repository: investivision/insight-service
          token: ${{ secrets.PAT }}
          ref: "refactor"
      - name: Download collections artifact
        uses: actions/download-artifact@v3
        with:
          name: symbol-collection
          path: collection/stocks/data
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: "3.7.7"
      - name: download talib
        run: |
          wget http://prdownloads.sourceforge.net/ta-lib/ta-lib-0.4.0-src.tar.gz
          /usr/bin/tar -xvzf ./ta-lib-0.4.0-src.tar.gz
          cd ta-lib/
          ./configure --prefix=/usr
          make
          sudo make install
      - name: install dependencies
        working-directory: separate
        run: python -m pip install -r requirements.txt
      - name: run script
        working-directory: separate
        run: python stocks.py ${{ matrix.symbolsFile }}
      - name: Delete existing artifact
        uses: geekyeggo/delete-artifact@v2
        with:
          name: stock-insights
          failOnError: false
      - name: Upload stock insight artifacts
        uses: actions/upload-artifact@v3
        with:
          name: stock-insights
          path: separate/data/stocks
  insight-generation:
    needs: price-aggregation
    runs-on: ubuntu-latest
    steps:
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: "3.7.7"
      - name: checkout repo
        uses: actions/checkout@v2
        with:
          repository: investivision/insight-service
          token: ${{ secrets.PAT }}
          ref: "refactor"
      - name: install dependencies
        working-directory: together
        run: python -m pip install -r requirements.txt
      - name: generate insights
        run: python stocks.py
      - name: Archive
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: together/insights
          keep_files: true
          publish_branch: insights
          commit_message: update
